<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <h1 class="navbar-brand">SignUp Page</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>
<div id="errors"></div>
<div class="col-md-12" style="padding: 15px;">
    <form method="POST" action="/signup" onsubmit="signup()">
        <fieldset>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                       name="username"
                       class="form-control"
                       placeholder="Enter your username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                       class="form-control"
                       name="password"
                       placeholder="Enter your password">
            </div>


            <div class="form-group">
                <label for="password">Password Again</label>
                <input type="password"
                       class="form-control"
                       name="password_2"
                       placeholder="Please, type your password again...">
            </div>

            <div class="form-group">
                <label for="email">Your Email</label>
                <input type="email"
                       class="form-control"
                       name="email"
                       placeholder="Enter your Email">
            </div>

            <button
                    type="button"
                    class="btn btn-primary"
                    onclick="signup()"
                    value="SignUp">SignUp</button>
        </fieldset>
    </form>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    function signup() {
        axios.post('/signup', {foo: 1})
                .then((resp) => console.log(resp))
                .catch(err => {
                    console.warn(err.response.data);
                    err.response.data.forEach((e) => printAlert(e));
                });
        return false;
    }

    function printAlert(msg) {
        document.querySelector('#errors').innerHTML += `<div class="alert alert-danger">${msg}</div>`;
    }

</script>
</body>
</html>